* {
    margin: 0;
}

.nav {
    background-color: #494848;
    color: aliceblue;
    display: flex;
    width: 99%;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.nav-links {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
    font-weight: 100;
}

li {
    margin: 5px 10px;
    color: aliceblue;

}

button {
    background-color:#258282;
    box-shadow: black 5px 5px;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.active {
    font-weight: 400;
}